main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header {
  height: 50px;
  border-bottom: 1px solid gray;
  padding: 10px;
  align-content: center;
}
header h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 100%;
}
.contentWrap {
  width: 100vw;
  display: flex;
  flex-grow: 1;
}
nav {
  width: 100px;
  align-content: center;
  border-right: 1px solid gray;
}
nav p {
  padding: 10px;
  cursor: pointer;
  text-align: center;
}
nav p:hover {
  color: var(--main-btn-color);
}
.postWrap {
  flex-grow: 1;
  overflow: auto;
  height: 92vh;
}
